
@{
    ViewBag.Title = "崩塌警戒基準值(RTI3)";
    Layout = "~/Views/Shared/_WarnLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            崩塌警戒基準值(RTI3)@*<small>資料時間：@ViewBag.forecastdate</small>*@
        </h1>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">查詢</div>
    <div class="panel-body">
        <div class="form-inline">
            <span class="label label-success">降雨延時(F)</span>
            <label class="radio-inline"><input type="radio" id="hr0" onclick="Query();" value="0" name="delaytime">0 HR</label>
            <label class="radio-inline"><input type="radio" id="hr1" onclick="Query();" value="1" name="delaytime">1 HR</label>
            <label class="radio-inline"><input type="radio" id="hr2" onclick="Query();" value="2" name="delaytime">2 HR</label>
            <label class="radio-inline"><input type="radio" id="hr3" onclick="Query();" value="3" name="delaytime">3 HR</label>
            <span class="label label-success">折減係數</span>
            <label class="radio-inline"><input type="radio" id="coefficient6" onclick="Query();" value="6" name="coefficient">0.6</label>
            <label class="radio-inline"><input type="radio" id="coefficient7" onclick="Query();" value="7" name="coefficient">0.7</label>
            <label class="radio-inline"><input type="radio" id="coefficient8" onclick="Query();" value="8" name="coefficient">0.8</label>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">查詢結果 - 共 @ViewBag.count 筆</div>
    <div class="panel-body">


        <div class="col-md-12">
            <div class="row">

                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="min-width: 40px;">站號</th>
                            <th style="min-width: 40px;">筆數</th>
                            <th style="min-width: 60px;">開始時間</th>
                            <th style="min-width: 60px;">最終時間</th>
                            <th style="min-width: 40px;">RT10</th>
                            <th style="min-width: 40px;">RT30</th>
                            <th style="min-width: 40px;">RT50</th>
                            <th style="min-width: 40px;">RT70</th>
                            <th style="min-width: 40px;">RT90</th>
                            <th style="min-width: 40px;">R310</th>
                            <th style="min-width: 40px;">R330</th>
                            <th style="min-width: 40px;">R350</th>
                            <th style="min-width: 40px;">R370</th>
                            <th style="min-width: 40px;">R390</th>
                            <th style="min-width: 40px;">RTI10</th>
                            <th style="min-width: 40px;">RTI30</th>
                            <th style="min-width: 40px;">RTI50</th>
                            <th style="min-width: 40px;">RTI70</th>
                            <th style="min-width: 40px;">RTI90</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["Rti3Detail"] as List<dynamic>)
            {
                            <tr>
                                <td>@item.station</td>
                                <td>@item.totalcount</td>
                                <td>@item.startdate</td>
                                <td>@item.enddate</td>
                                <td>@item.rt10</td>
                                <td>@item.rt30</td>
                                <td>@item.rt50</td>
                                <td>@item.rt70</td>
                                <td>@item.rt90</td>
                                <td>@item.r310</td>
                                <td>@item.r330</td>
                                <td>@item.r350</td>
                                <td>@item.r370</td>
                                <td>@item.r390</td>
                                <td>@item.rti10</td>
                                <td>@item.rti30</td>
                                <td>@item.rti50</td>
                                <td>@item.rti70</td>
                                <td>@item.rti90</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <uib-pagination data-total-items="totalItems" ng-model="currentPage"
                                    data-max-size="NumberOfPageButtons" class=" pagination-sm"
                                    data-boundary-links="true" data-rotate="false"
                                    ng-change="pageChanged()" data-items-per-page="recordsPerPage"></uib-pagination>

                </div>
            </div>

        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        var delaytime = '@ViewBag.delaytime';
        if (delaytime == "0") $("#hr0").prop('checked', true);
        if (delaytime == "1") $("#hr1").prop('checked', true);
        if (delaytime == "2") $("#hr2").prop('checked', true);
        if (delaytime == "3") $("#hr3").prop('checked', true);

        var coefficient = '@ViewBag.coefficient';
        if (coefficient == "6") $("#coefficient6").prop('checked', true);
        if (coefficient == "7") $("#coefficient7").prop('checked', true);
        if (coefficient == "8") $("#coefficient8").prop('checked', true);
    });

    function Query(type) {
        var seldelaytime = $('input[name=delaytime]:checked').val();
        var selcoefficient = $('input[name=coefficient]:checked').val();

        //location.href = '@Url.Action("QueryRTI")' + '?delaytime=' + seldelaytime + '&coefficient=' + selcoefficient;
        location.href = '@Url.Action("QueryRTI3")' + '?delaytime=' + seldelaytime + '&coefficient=' + selcoefficient;
    }
</script>
