@*@model IEnumerable<M10Api.Models.RunTimeRainData>*@


@{
    ViewBag.Title = "降雨已達崩塌警戒即時資料";
    Layout = "~/Views/Shared/_WarnLayout.cshtml";
}

@*<h2>WarnList</h2>*@

    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                降雨已達崩塌警戒即時資料 <small>預報時間：@ViewBag.forecastdate</small>
            </h1>
        </div>
        <div class="col-md-4">
            <h1 class="page-header">
                <Button ID="btnMap" onclick="ToMap();" class="btn btn-success">切換至地圖畫面</Button>
                <Button ID="btnSetAlert" onclick="SetAlert();" class=""></Button>
            </h1>
        </div>
    </div>

<div class="panel panel-success">
    <div class="panel-heading">查詢結果 - 共 @ViewBag.count 筆</div>
    <div class="panel-body">


        <div class="col-md-12">
            <div class="row">

                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="min-width: 60px;">縣市</th>
                            <th style="min-width: 60px;">鄉鎮</th>
                            <th style="min-width: 60px;">警戒區範圍</th>
                            <th style="min-width: 60px;">1hr</th>
                            <th style="min-width: 60px;">2hr</th>
                            <th style="min-width: 60px;">3hr</th>
                            <th style="min-width: 60px;">6hr</th>
                            <th style="min-width: 60px;">LRTI</th>
                            <th style="min-width: 60px;">警戒LRTI</th>
                            <th style="min-width: 80px;">警戒發布狀態</th>
                            <th style="min-width: 80px;">警戒發布時間</th>
                            <th style="min-width: 40px;">RT</th>
                            <th style="min-width: 80px;">土石流警戒值</th>
                            <th style="min-width: 80px;">崩塌警戒值Rt_70</th>
                            <th style="min-width: 80px;">崩塌警戒值R3_70</th>
                            <th style="min-width: 80px;">崩塌警戒值Rt_50</th>
                            <th style="min-width: 80px;">崩塌警戒值R3_50</th>
                            @*<th style="width:20px;"> </th>
        <th style="width:20px;"> </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["LRTIAlert"] as List<dynamic>)
                        {

                        <tr>
                            <td>@item.country</td>
                            <td>@item.town</td>
                            <td>@item.village</td>
                            <td>@item.HOUR1</td>
                            <td>@item.HOUR2</td>
                            <td>@item.HOUR3</td>
                            <td>@item.HOUR6</td>
                            <td>@item.LRTI</td>
                            <td>@item.ELRTI</td>
                            <td>@item.status</td>
                            <td>@item.statustime</td>
                            <td>@item.RT</td>
                            <td>@item.FlowWarning</td>
                            <td>@item.Rt_70</td>
                            <td>@item.R3_70</td>
                            <td>@item.Rt_50</td>
                            <td>@item.R3_50</td>
                            @*<td><a ng-click="editUser(user.id)" class="btn btn-small btn-primary" title="修改"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
        <td><a ng-click="deleteUser(user.id)" class="btn btn-small btn-danger" title="刪除"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>*@
                        </tr>
                        }

                        @*@foreach (var item in Model)
                            {
                              <tr>
                                <td>@item.STID</td>
                                <td>@item.TOWN</td>
                                <td>@item.STNAME</td>
                                <td>@item.LAT</td>
                                <td>@item.LON</td>
                                <td><a ng-click="editUser(user.id)" class="btn btn-small btn-primary" title="修改"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                                <td><a ng-click="deleteUser(user.id)" class="btn btn-small btn-danger" title="刪除"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                              </tr>

                            }*@

                        @*<tr ng-repeat="user in data.items">
                              <td>{{ user.id }}</td>
                              <td>{{ user.name }}</td>
                              <td>{{ user.social_id }}</td>
                              <td>{{ user.nickname }}</td>
                              <td>{{ user.phone }}</td>
                              <td><a ng-click="editUser(user.id)" class="btn btn-small btn-primary" title="修改"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                              <td><a ng-click="deleteUser(user.id)" class="btn btn-small btn-danger" title="刪除"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                            </tr>*@
                    </tbody>
                </table>
                <div class="text-center">
                    <uib-pagination data-total-items="totalItems" ng-model="currentPage"
                                    data-max-size="NumberOfPageButtons" class=" pagination-sm"
                                    data-boundary-links="true" data-rotate="false"
                                    ng-change="pageChanged()" data-items-per-page="recordsPerPage"></uib-pagination>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $.getJSON('@Url.Action("getAlertSet")', null, function (data) {
            if (data.AlertSet == "Y") {
                $("#btnSetAlert").attr('class', 'btn btn-warning');
                $("#btnSetAlert").text("崩塌警戒發報-已啟動");
            } else {
                $("#btnSetAlert").attr('class', 'btn btn-success');
                $("#btnSetAlert").text("崩塌警戒發報-已關閉");
            }
        });

    });

    function ToMap() {
        location.href = '@Url.Action("Map", "Map")';
    }

    function SetAlert() {
        $.getJSON('@Url.Action("postAlertSet")', null, function (data) {
            if (data.result == "OK") {
                if (data.AlertSet == "Y") {
                    $("#btnSetAlert").attr('class', 'btn btn-warning');
                    $("#btnSetAlert").text("崩塌警戒發報-已啟動");
                } else {
                    $("#btnSetAlert").attr('class', 'btn btn-success');
                    $("#btnSetAlert").text("崩塌警戒發報-已關閉");
                }
            }
        });
    }
</script>