
@{
    ViewBag.Title = "降雨已達崩塌警戒歷史資料一覽表";
    Layout = "~/Views/Shared/_WarnLayout.cshtml";
}
@section scripts {
    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker/bootstrap-datetimepicker.zh-tw.js"></script>

}


@section Styles {

    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />

}








<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            降雨已達崩塌警戒歷史資料一覽表 @*<small>預報時間：@ViewBag.nowdate</small>*@
        </h1>
    </div>
</div>

@*<form novalidate="novalidate" class="form-inline" role="form">*@
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">查詢</div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    @using (Html.BeginForm("warnhislist", "warn"))
                    {

                        <label for="keyWord">起始時間：</label>
                        <input type="text" id="StartDate" name="StartDate" value="@ViewBag.StartDate" />
                        <label for="keyWord">結束時間：</label>
                        <input type="text" id="EndDate" name="EndDate" value="@ViewBag.EndDate" />
                        @*<input type="text" class="form-control" id="keyWord" ng-model="keyWord" placeholder="ex.Key1 Key2 ...">*@
                        <button type="submit" class="btn btn-default" id="btnSearch" @*onclick="go();"*@>查詢</button>
                        <button type="button" class="btn btn-default" id="btnSearch" onclick="go();">匯出</button>
                        @*<input type="button" title="Delete" value="D" onclick="location.href='@Url.Action("Delete", "movies", new { id = $("#StartDate").val() })'" />*@
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">查詢結果 - 共 @ViewBag.count 筆</div>
        <div class="panel-body">


            <div class="col-md-12">
                <div class="row">

                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th style="min-width: 40px;">預報時間</th>
                                <th style="min-width: 60px;">縣市</th>
                                <th style="min-width: 60px;">鄉鎮</th>
                                <th style="min-width: 60px;">警戒區範圍</th>
                                <th style="min-width: 60px;">1hr</th>
                                <th style="min-width: 60px;">2hr</th>
                                <th style="min-width: 60px;">3hr</th>
                                <th style="min-width: 60px;">6hr</th>
                                <th style="min-width: 60px;">LRTI</th>
                                <th style="min-width: 60px;">警戒發布狀態</th>
                                <th style="min-width: 80px;">警戒發布時間</th>
                                <th style="min-width: 40px;">RT</th>
                                <th style="min-width: 80px;">土石流警戒值</th>
                                <th style="min-width: 80px;">崩塌警戒值Rt_70</th>
                                <th style="min-width: 80px;">崩塌警戒值R3_70</th>
                                <th style="min-width: 80px;">崩塌警戒值Rt_50</th>
                                <th style="min-width: 80px;">崩塌警戒值R3_50</th>
                                <th style="min-width: 80px;">備註</th>

                                @*<th style="width:20px;"> </th>
        <th style="width:20px;"> </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewData["LRTIAlert"] != null)
                            {
                                foreach (var item in ViewData["LRTIAlert"] as List<dynamic>)
                                {

                            <tr>
                                <td>@item.RecTime</td>
                                <td>@item.country</td>
                                <td>@item.town</td>
                                <td>@item.village</td>
                                <td>@item.HOUR1</td>
                                <td>@item.HOUR2</td>
                                <td>@item.HOUR3</td>
                                <td>@item.HOUR6</td>
                                <td>@item.LRTI</td>
                                <td>@item.status</td>
                                <td>@item.statustime</td>
                                <td>@item.RT</td>
                                <td>@item.FlowWarning</td>
                                <td>@item.Rt_70</td>
                                <td>@item.R3_70</td>
                                <td>@item.Rt_50</td>
                                <td>@item.R3_50</td>
                                <td>@item.Remark</td>
                                @*<td><a ng-click="editUser(user.id)" class="btn btn-small btn-primary" title="修改"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
        <td><a ng-click="deleteUser(user.id)" class="btn btn-small btn-danger" title="刪除"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>*@
                            </tr>
                                }
                            }



                        </tbody>
                    </table>
                    <div class="text-center">
                        <uib-pagination data-total-items="totalItems" ng-model="currentPage"
                                        data-max-size="NumberOfPageButtons" class=" pagination-sm"
                                        data-boundary-links="true" data-rotate="false"
                                        ng-change="pageChanged()" data-items-per-page="recordsPerPage"></uib-pagination>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
@*</form>*@


<script>
  $(document).ready(function () {
    // Send an AJAX request
    //$('[type="date"]').datetimepicker({
    //  format: "yyyy-mm-dd",
    //  autoclose: true,
    //  startDate: "today",
    //  clearBtn: false,
    //  calendarWeeks: true,
    //  todayHighlight: true,
    //  language: 'zh-TW'
    //});
    $("#StartDate").datetimepicker({
      format: 'YYYY-MM-DD',
      //預設今天
      defaultDate: new Date(),
      //language: 'zh-tw',
    });

    $("#EndDate").datetimepicker({
      format: 'YYYY-MM-DD',
      //預設今天
      defaultDate: new Date(),
      //language: 'zh-TW',
    });

  });

  function go() {

    @*window.location.href = "@Url.Action(new
    { Controller = "YourController", Action = "Download"})/?file=" + data.fileName;*@

    var para = { StartDate: "test", EndDate: "test11111" };

    var sd = $("#StartDate").val();
    var ed = $("#EndDate").val();

    //location.href = '@Url.Action("down", "warn",new { StartDate = ViewBag.StartDate, EndDate= ViewBag.EndDate})';

    location.href = '@Url.Action("down", "warn")' + '?StartDate=' + sd + '&EndDate=' + ed;



    return;
    var testclass = { STID: "test123456", country: "台中" };
    //alert('test');
    //return;
    $.ajax({
      type: 'POST',
      @*url: '@Url.Action("warnhislistq", "warn")',*@
      url: '@Url.Action("down", "warn")',

      //url: 'warn/warnhislist',
      data: testclass,
      dataType: 'JSON',
      success: function (response) {



        //response.forEach(function (data, i) {
        //  //$('<li>', { text: data.STID }).appendTo($('#products'));
        //  //alert(data.STID);
        //});


      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert('error');
      },
    });


  }


</script>