@{
    ViewBag.Title = "降雨已達崩塌警戒即時地圖資料";
    Layout = "~/Views/Shared/_WarnLayout.cshtml";
}

@section Styles {
    <style type="text/css">
        body, html {
            height: 100%;
            width: 100%;
        }

        #map {
            height: 700px;
            background: black;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            降雨已達崩塌警戒即時地圖資料 <small>預報時間：@ViewBag.forecastdate</small>
        </h1>
    </div>
</div>
<div id="map" style="width:100%;" @*style="height:600px;"*@></div>
<div class="container-fluid">
    <div class="row">
        <div class="col col-centered">

        </div>
    </div>
</div>

<script type="text/javascript">

  var map;
  var infowindow;
  var markers = [];

  function initMap() {
    //地圖初始化
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 23.7825, lng: 121.019 },
      zoom: 7
      , zoomControl: true
    });

    //資訊視窗初始化
    infowindow = new google.maps.InfoWindow();

    //
    BuildPolyCountry();

    //建立紅色Polygon
    BuildPolyByType('R');

    //建立黃色Polygon
    BuildPolyByType('Y');
  }

  function BuildPolyByType(type) {
    //Params by type
    var urlGetMapData = '';
    var urlGetMapCoord = '';
    var strokeColor = '';
    var fillColor = '';


    if (type == 'R') {
      var urlGetMapData = '@Url.Action("getMapDatas", "mapapi",new {type= "R" })';
      var urlGetMapCoord = '@Url.Action("getCoordinate", "mapapi", new { type = "R" })';
      var strokeColor = '#FF0000';
      var fillColor = '#FF0000';
    }
    if (type == 'Y') {
      var urlGetMapData = '@Url.Action("getMapDatas", "mapapi",new {type= "Y" })';
      var urlGetMapCoord = '@Url.Action("getCoordinate", "mapapi", new { type = "Y" })';
      var strokeColor = '#FFB300';
      var fillColor = '#FFB300';
    }

    //地圖資料
    var polyDataList = [];
    //點位資料
    var polyList = [];

    //取得地圖資料
    $.ajax({
      type: 'GET',
      url: urlGetMapData,
      dataType: 'JSON',
      async: false,   // 先把這隻js執行完後，再跑下面的程式，如果不寫此參數，jQuery預設AJAX為異步執行
      success: function (response) {
        response.forEach(function (data, i) {
          //建立地圖資料
          var item = {};
          item["relano"] = data.relano;
          item["STID"] = data.STID;
          item["country"] = data.country;
          item["town"] = data.town;
          item["village"] = data.village;
          item["status"] = data.status;
          item["HOUR1"] = data.HOUR1;
          item["HOUR2"] = data.HOUR2;
          item["HOUR3"] = data.HOUR3;
          item["LRTI"] = data.LRTI;
          item["ELRTI"] = data.ELRTI;

          polyDataList.push(item);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert('error');
      },
    });

    //取得點位資料
    $.ajax({
      type: 'GET',
      url: urlGetMapCoord,
      dataType: 'JSON',
      async: false,   // 先把這隻js執行完後，再跑下面的程式，如果不寫此參數，jQuery預設AJAX為異步執行
      success: function (response) {
        response.forEach(function (data, i) {
          //建立地圖資料
          var item = {};
          item["relano"] = data.relano;
          item["lat"] = data.lat;
          item["lng"] = data.lng;

          polyList.push(item);
        });
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert('error');
      },
    });

    try {
      polyDataList.forEach(function (e, i) {
        //點選出現資訊視窗
        var contentString = ''; //要顯示的 HTML 內容
        contentString += '<div style="weight: 400px;" >';
        contentString += '<h5><span style="font-weight: bold; color: #31708f;">(' + e.STID + ')雨量警戒資料&nbsp;發布狀態：[<span style="font-weight: bold; color: #dd4b39;">' + e.status + '</span>]</span></h5>';
        contentString += '<table class="table" style="weight: 400px;">';
        contentString += '<tbody>';
        contentString += '<tr class="active">';
        contentString += '<td>站點：' + e.STID + '</td>';
        contentString += '</tr>';
        contentString += '<tr >';
        contentString += '<td>警戒區範圍：' + e.country + e.town + e.village + '</td>';
        contentString += '</tr>';
        contentString += '<tr class="active">';
        contentString += '<td>1hr：' + e.HOUR1 + '&nbsp;&nbsp;&nbsp;2hr：' + e.HOUR2 + '&nbsp;&nbsp;&nbsp;3hr： ' + e.HOUR3 + ' </td>';
        contentString += '</tr>';
        contentString += '<tr >';
        contentString += '<td>LRTI：' + e.LRTI + '&nbsp;&nbsp;&nbsp;警戒LRTI：' + e.ELRTI + '</td>';
        contentString += '</tr>';
        contentString += '<tr class="active">';
        contentString += '<td>崩塌發布狀態：' + e.status + '</td>';
        contentString += '</tr>';
        contentString += '</tbody></table></div>';

        //點位集合
        var triangleCoords1 = [];
        polyList.forEach(function (ee, ii) {
          if (e.relano == ee.relano) {
            var point = new google.maps.LatLng(parseFloat(ee.lat), parseFloat(ee.lng));
            triangleCoords1.push(point);
          }
        });

        var bermudaTriangle = new google.maps.Polygon({
          paths: triangleCoords1,
          strokeColor: strokeColor,
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: fillColor,
          fillOpacity: 0.45,
          name: e.STID
        });

        bermudaTriangle.addListener('click', function (event) {
          infowindow.setContent(contentString);
          infowindow.setPosition(event.latLng);
          infowindow.open(map); //設定點選 marker 打開資訊視窗事件
        });
        bermudaTriangle.setMap(map);

      });
    }
    catch (err) {

    }
  }

  function BuildPolyCountry() {
    //點位資料
    var polyList = [];

    try {
      //取得點位資料
      $.ajax({
        type: 'GET',
        url: '@Url.Action("getCoordinateCountry", "mapapi")',
        dataType: 'JSON',
        async: false,   // 先把這隻js執行完後，再跑下面的程式，如果不寫此參數，jQuery預設AJAX為異步執行
        success: function (response) {
          polyList = response;
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert('error');
        },
      });

      polyList.forEach(function (e, i) {

        var points = e.points;
        //點位集合
        var triangleCoords = [];
        points.forEach(function (ee, ii) {
          var point = new google.maps.LatLng(parseFloat(ee.lat), parseFloat(ee.lng));
          triangleCoords.push(point);
        });

        var bermudaTriangle = new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: '#000000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#000000',
          fillOpacity: 0,
          name: e.relano
        });

        bermudaTriangle.setMap(map);
      });

    }
    catch (err) {

    }


  }




  function myrefresh() {
    initMap();
  }

  $(function () {
    setInterval(myrefresh, 20 * 60 * 1000); //指定20分刷新一次
  });
</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAvbrBg_2x0ke4k3Zy6KQtd6wccUr-P9c&callback=initMap">
</script>
